/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'FreesentationB';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Freesentation/Freesentation-7Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreesentationL';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Freesentation/Freesentation-3Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


  #script-root {
    font-size: 16px;
    @apply tw-bg-background tw-text-foreground;
    @apply tw-border-border;
  }

  :root {
    --gradient: hsl(29, 67%, 23%);
    --background: 31 98.35% 98.46%;
    --foreground: 31 6.7% 0.92%;
    --muted: 31 6.7% 92.3%;
    --muted-foreground: 31 3.35% 42.3%;
    --popover: 31 36.4% 92.3%;
    --popover-foreground: 31 6.7% 1.1500000000000001%;
    --card: 31 36.4% 92.3%;
    --card-foreground: 31 6.7% 1.1500000000000001%;
    --border: 31 11.7% 89.92%;
    --input: 31 11.7% 89.92%;
    --primary: 31 67% 23%;
    --primary-foreground: 31 1.34% 92.3%;
    --secondary: 31 3.35% 96.15%;
    --secondary-foreground: 31 5.0200000000000005% 12.3%;
    --accent: 31 3.35% 96.15%;
    --accent-foreground: 31 5.0200000000000005% 12.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 31 67% 23%;
    --radius: 0.5rem;
  }


}